.class {
    font-family: Arial;
    font-weight: 900;
    color:#4753ff;
}

.class2, .class4
 {
    font-family: Arial;
    font-weight: 900;
    color:#e0270a;
 }

.class3 {
    font-family: Arial;
    font-weight: 900;
    color:#20e14d;
}
